body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color:rgb(0, 77, 71);
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px;
    text-align: center;
}

button {
    background-color: #ff0000;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #cc0000;
}

/*FOTER*/

footer {
    background-color:rgb(20, 103, 96);
    color: #fff;
    padding: 20px 0;
    text-align: center;
    font-family: Arial, sans-serif;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.footer-info p {
    margin: 5px 0;
    font-size: 14px;
}

.footer-social {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-social p {
    margin-right: 10px;
    font-size: 16px;
    font-weight: bold;
}

.footer-social a img {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease;
}

.footer-social a:hover img {
    transform: scale(1.2);
}

img{
    width: 400px;
}